.container {
  user-select: none;
  cursor: pointer;
}

.image-container {
  width: 100%;
  position: relative;
  padding-bottom: 66.67%; /* 3:2 aspect ratio (2/3 * 100 = 66.67%) */
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
